@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --color-dark-green: #1f5e06;
  --color-light-green: #2d8609;
  --color-dark-gray: #737373;
  --color-mid-gray: #ededed;
  --color-light: #ffffff;
}
.swiper-pagination-bullet {
  margin: 3px;
}
.swiper-pagination-bullet-active {
  background: #2d8609 !important;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}
